name: Update Warframe Drops Data

on:
  workflow_dispatch: # Allows manual triggering of the workflow
  schedule:
    - cron: '0 0 * * *'

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      
      - run: npm install cheerio

      - run: node node-scripts/scrape-drops.js

      - name: Commit updated Data
        run: |
          git config --global user.name 'github-actions'
          git config --global user.email 'actions@github.com'
          git add public/drops.json
          git commit -m "Update Warframe drops JSON" || exit 0
          git push
